# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ігноруємо абсолютно всі папки node_modules у проєкті
node_modules/
**/node_modules/

# Ігноруємо файли з секретами у будь-яких папках
.env
**/.env
*.env

# Ігноруємо папки збірки фронтенду
dist/
**/dist/
